In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('ais.csv')

# The column contents are as follows:

    rcc: red blood cell count (in 1012 per liter)
    wcc: white blood cell count (in 1012 per liter)
    hc: percent hematocrit.
    hg: hemaglobin concentration (in grams per decaliter).
    ferr: plasma ferritins (in nanograms per decaliter).
    bmi: body mass index (kilograms per centimeter2 x 102).
    ssf: sum of skin folds (the units were not reported).
    pcBfat: percent body fat.
    lbm: lean body mass (in kilograms).
    ht: height (in centimeters).
    wt: weight (in kilograms).
    sex: sex of an athlete, f=female or m=male.
    sport: type of sport.

In [34]:
# provide first 5 (default) rows from the data frame
df.head()

,Unnamed: 0,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
0,1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
1,2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
2,3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
3,4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
4,5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball

In [24]:
# returning dimensionality of the DF 

print("\nDataFrame shape: ", df.shape)
print("# of rows: ", df.shape[0])
print("# of columns: ", df.shape[1])

DataFrame shape:  (202, 14)
# of rows:  202
# of columns:  14

In [29]:
# statistical summary of height
df.agg({'ht': ['min', 'max', 'median', 'average']})

                ht
min      148.90000
max      209.40000
median   179.70000
average  180.10396

In [36]:
## function returning dataframe shape
def print_shape(data):
    shape = data.shape
    return shape

print_shape(df)

(202, 14)

In [35]:
## function returning datafram avg of each column

def cal_avg(data):
    avg = data.mean()
    return avg
    
cal_avg(df)

Unnamed: 0    101.500000
rcc             4.718614
wcc             7.108911
hc             43.091584
hg             14.566337
ferr           76.876238
bmi            22.955891
ssf            69.021782
pcBfat         13.507426
lbm            64.873713
ht            180.103960
wt             75.007921
dtype: float64