In [109]:
import pandas as pd
import numpy as np

In [110]:
#1 DATA IMPORT
Berlin_Airbnb = pd.read_csv("C:\\users\\perrine mignot\\Downloads\\Kaggle Data Berlin Airbnb\\listings.csv",index_col = 0)

In [112]:
#2 DATA SUMMARY
Berlin_Airbnb.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,52.534537,13.402557,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,52.548513,13.404553,Private room,17,2,6,2018-10-01,1.42,1,0
3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.498855,13.349065,Private room,26,5,25,2018-08-16,0.39,1,297
7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,42,2,197,2018-11-04,1.75,1,26

In [108]:
#2 DATA SUMMARY
Berlin_Airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22552 entries, 2015 to 29867352
Data columns (total 15 columns):
name                              22493 non-null object
host_id                           22552 non-null int64
host_name                         22526 non-null object
neighbourhood_group               22552 non-null object
neighbourhood                     22552 non-null object
latitude                          22552 non-null float64
longitude                         22552 non-null float64
room_type                         22552 non-null object
price                             22552 non-null int64
minimum_nights                    22552 non-null int64
number_of_reviews                 22552 non-null int64
last_review                       18644 non-null object
reviews_per_month                 18638 non-null float64
calculated_host_listings_count    22552 non-null int64
availability_365                  22552 non-null int64
dtypes: float64(3), int64(6), object(6)
memory usage: 2.8+ MB

In [102]:
#2 DATA SUMMARY
np.round(Berlin_Airbnb.describe(), decimals=0)

,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,22552.0,22552.0,22552.0,22552.0,22552.0,22552.0,18638.0,22552.0,22552.0
mean,54033548.0,53.0,13.0,67.0,7.0,18.0,1.0,2.0,80.0
std,58162903.0,0.0,0.0,220.0,41.0,37.0,2.0,4.0,119.0
min,2217.0,52.0,13.0,0.0,1.0,0.0,0.0,1.0,0.0
25%,9240002.0,52.0,13.0,30.0,2.0,1.0,0.0,1.0,0.0
50%,31267110.0,53.0,13.0,45.0,2.0,5.0,1.0,1.0,4.0
75%,80675177.0,53.0,13.0,70.0,4.0,16.0,2.0,1.0,129.0
max,224508134.0,53.0,14.0,9000.0,5000.0,498.0,37.0,45.0,365.0

In [120]:
#3 FIND MEAN
print(np.round(np.mean(Berlin_Airbnb)))

host_id                           54033548.0
latitude                                53.0
longitude                               13.0
price                                   67.0
minimum_nights                           7.0
number_of_reviews                       18.0
reviews_per_month                        1.0
calculated_host_listings_count           2.0
availability_365                        80.0
dtype: float64

In [131]:
#3 FIND MEAN FOR PRICE
print("Mean price:", price.mean())

('Mean price:', 67.14366796736431)

In [129]:
#3 FIND MEAN FOR PRICE other way
price.mean()

67.14366796736431

In [92]:
#4 FIND SHAPE 
np.shape(Berlin_Airbnb)

(22552, 15)

In [160]:
#4 FIND SHAPE via FUNCTION
def shapeFunc(Berlin_Airbnb):
    print('FUNC SHAPE:',Berlin_Airbnb.shape)
    # pass

shapeFunc(Berlin_Airbnb)

('FUNC SHAPE:', (22552, 15))

In [162]:
# 5-FIND AVERAGE
np.sum(price)

1514224

In [135]:
# 5-FIND SUM for Func AVERAGE
price.sum()

1514224

In [163]:
# 5-FIND COUNT for Func AVERAGE
np.count(price)

AttributeError: 'module' object has no attribute 'count'

In [145]:
# 5-FIND COUNT for Func AVERAGE
np.count_nonzero(price)

22544

In [168]:
# 5- FUNCTION AVERAGE
def average_price(Berlin_Airbnb,price)
    "return the average of price column"
    np.sum(price) / np.count_nonzero(price)
    return(average_price)

SyntaxError: invalid syntax (<ipython-input-168-4d86d39a0022>, line 2)

In [166]:
# 5-FUNCTION TO PRINT AVERAGE
def averageFunc(Berlin_Airbnb,price):
    print('FUNC AVERAGE:',Berlin_Airbnb[price].mean())

averageFunc(Berlin_Airbnb,'price')

('FUNC AVERAGE:', 67.14366796736431)