<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 4.1.1 Linear Regression

## Prediction of House Price Using Linear Regression

### Data

The Sacramento real estate transactions file is a list of 985 real estate transactions in the Sacramento area reported over a five-day period, as reported by the Sacramento Bee.

In [72]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

### 1. Explore Data

Perform EDA on this dataset. Use what you have learned so far. Be creative. List all your findings.

In [16]:
# Read CSV
house_csv = pd.read_csv("Sacramento_transactions.csv")

In [17]:
house_csv.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [18]:
house_csv.shape

(985, 12)

In [21]:
house_csv.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [23]:
house_csv['zip'] = house_csv['zip'].astype('str')

In [24]:
house_csv.dtypes

street        object
city          object
zip           object
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

In [30]:
house_csv.describe()

,beds,baths,sq__ft,price,latitude,longitude
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,2.911675,1.776650,1314.916751,234144.263959,38.607732,-121.355982
std,1.307932,0.895371,853.048243,138365.839085,0.145433,0.138278
min,0.000000,0.000000,0.000000,1551.000000,38.241514,-121.551704
25%,2.000000,1.000000,952.000000,145000.000000,38.482717,-121.446127
50%,3.000000,2.000000,1304.000000,213750.000000,38.626582,-121.376220
75%,4.000000,2.000000,1718.000000,300000.000000,38.695589,-121.295778
max,8.000000,5.000000,5822.000000,884790.000000,39.020808,-120.597599

In [29]:
house_csv.corr()

               beds     baths    sq__ft     price  latitude  longitude
beds       1.000000  0.839650  0.684041  0.342024 -0.291307  -0.053993
baths      0.839650  1.000000  0.665690  0.416208 -0.235792   0.016582
sq__ft     0.684041  0.665690  1.000000  0.333897 -0.383274  -0.177742
price      0.342024  0.416208  0.333897  1.000000 -0.039573   0.284485
latitude  -0.291307 -0.235792 -0.383274 -0.039573  1.000000   0.387925
longitude -0.053993  0.016582 -0.177742  0.284485  0.387925   1.000000

### 2. Predict Price

We are going to predict `price` from available information.

#### 2.1 What is the Target Variable? Why?

In [0]:
# ANSWER
#Target variable is price as this is the one 'dependent' variable we are focussing on/trying to predict

#### 2.2 List all possible variables which might be Predictor variable.

In [0]:
# ANSWER
#Beds
#Sq_ft
#Bath

In [83]:
house_csv.plot.pairplot()

AttributeError: 'PlotAccessor' object has no attribute 'pairplot'

#### 2.2 Find correlation between variables

Find correlation between variables. Which is the best predictor? Why? State your reason.

In [31]:
# ANSWER
house_csv.corr()
#Most appropriate predictor is sq_ft it is positively correlated and makes sense as a predictor of the targer variable

               beds     baths    sq__ft     price  latitude  longitude
beds       1.000000  0.839650  0.684041  0.342024 -0.291307  -0.053993
baths      0.839650  1.000000  0.665690  0.416208 -0.235792   0.016582
sq__ft     0.684041  0.665690  1.000000  0.333897 -0.383274  -0.177742
price      0.342024  0.416208  0.333897  1.000000 -0.039573   0.284485
latitude  -0.291307 -0.235792 -0.383274 -0.039573  1.000000   0.387925
longitude -0.053993  0.016582 -0.177742  0.284485  0.387925   1.000000

#### 2.3 What is the simplest way to predict price

So we have information for 985 houses. What is the easiest way to predict price of a house?

In [0]:
# ANSWER

#### 2. 4 Find Resudals

Find difference between actual value and predicted value. Use absolute value.

In [39]:
# ANSWER
house_csv['yhat'] = house_csv['price'].mean()
Res = abs(house_csv['price'] - house_csv['yhat']).mean()

#### 2.5  Predict Using Linear Regression

[Simple Linear Regression](https://en.wikipedia.org/wiki/Simple_linear_regression#Fitting_the_regression_line)

### $$\hat{y} = \beta_0 + \beta_1 x$$

> ### $$ \beta_1 = \frac{\sum_{i=1}^n (y_i - \bar{y} ) (x_i - \bar{x} )}{\sum_{i=1}^n (x_i - \bar{x})^2} $$

and

> ### $$ \beta_0 = \bar{y} - \beta_1\bar{x} $$

Given variables:
- $\bar{y}$ : the sample mean of observed values $Y$
- $\bar{x}$ : the sample mean of observed values $X$

##### 2.5 Define X, Y

- X = Predictor Variable 
- Y = Target Variable

In [41]:
# ANSWER
x = house_csv['sq__ft']
y = house_csv['price']

##### 2.5.A Calculate beta_1

 ### $$ \beta_1 = \frac{\sum_{i=1}^n (y_i - \bar{y} ) (x_i - \bar{x} )}{\sum_{i=1}^n (x_i - \bar{x})^2} $$

In [56]:
# ANSWER
def calc_beta_1(x,y):

    yhat = y.mean()
    xhat = x.mean()
    
    n = np.sum((y-yhat)*(x-xhat))
    d = np.sum(np.square(x-xhat))
    
    beta_1 = n/d
    return beta_1

In [54]:
B1 = calc_beta_1 (x,y)
print(B1)

54.158639688530755

##### 2.5.B Calculate beta_0

### $$ \beta_0 = \bar{y} - \beta_1\bar{x} $$

In [66]:
# ANSWER
yhat=y.mean()
xhat=x.mean()
B0 = (yhat)-(B1*xhat)
print(B0)

162930.16140699777

##### 2.4.C Find Yhat (Predicted Value Using Beta 0 and Beta 1)

### $$\hat{y} = \beta_0 + \beta_1 x$$

In [68]:
# ANSWER
Pred_val = B0+(B1*x)
print(Pred_val)

0      208206.784187
1      226133.293924
2      206040.438599
3      209073.322422
4      206094.597239
           ...
980    286411.859897
981    242922.472227
982    228787.067268
983    254187.469282
984    236694.228663
Name: sq__ft, Length: 985, dtype: float64

##### 2.5.D Find Resudals

### $$ \text{residual}_i = y_i - \hat{y}_i$$

In [70]:
# ANSWER
Res = y-Pred_val
print(Res)

0     -148984.784187
1     -157921.293924
2     -137160.438599
3     -139766.322422
4     -124194.597239
           ...
980    -53986.859897
981     -8922.472227
982      6212.932732
983    -18886.469282
984      -956.228663
Length: 985, dtype: float64

##### 2.5.D Find R-Square

The coefficient $R^2$ is defined as $$ R^2 = 1 - \frac{SS_{res}}{SS_{tot}} $$, where $$ SS_{res} $$ is the residual sum of squares $$ SS_{res} = \sum_{i=1}^n \left(y_i - \hat{y}_i\right)^2 $$ and $$ SS_{res} $$ is the total sum of squares $$ SS_{tot} = \sum_{i=1}^n \left(y_i - \bar{y}\right)^2 $$

The best possible score is 1.0 and it can be negative (because the model can be arbitrarily worse).

**Write a function to calculate R- Square value.**

The total sum of squares:

### $$ SS_{tot} = \sum_{i=1}^n \left(y_i - \bar{y}\right)^2 $$

The residual sum of squares:

### $$ SS_{res} = \sum_{i=1}^n \left(y_i - \hat{y}_i\right)^2 $$

$R^2$:

### $$ R^2 = 1 - \frac{SS_{res}}{SS_{tot}} $$

In [0]:
# ANSWER

##### 2.5.G [BONUS] Draw Plot of Predicted Line

In [78]:
# ANSWER

##### 2.5.G [BONUS] Draw Plot of Predicted Line With Resudals

In [0]:
# ANSWER

### 3. Predict House Price

Let's assume we have information of following house:

- street:	1140 EDMONTON DR
- city:	SACRAMENTO
- zip:	95833
- state:	CA
- beds:	3
- baths:	2
- sq__ft:	1204
- type:	Residential

**Predict the price of this house.**

In [0]:
# ANSWER



---



---



> > > > > > > > > © 2019 Institute of Data


---



---