In [6]:
# Setup - Import required modules
import pandas as pd

In [7]:
# 1 - Read CSV file

family_ie = pd.read_csv("C:\\temp\\Data Science\\IOD\\data\\Family_Income_and_Expenditure.csv")
family_ie.head()

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1

In [8]:
# 2 - Summary of Data i.e. Rows, Columns
family_ie.shape

(41544, 60)

In [9]:
# 3 - Aggregate function on numeric data
Min_meat_exp = family_ie['Meat Expenditure'].min()
Max_meat_exp = family_ie['Meat Expenditure'].max()
Avg_meat_exp = family_ie['Meat Expenditure'].mean()

print("Min meat expenditure: " + str(family_ie['Meat Expenditure'].min()))
print("Mix meat expenditure: " + str(family_ie['Meat Expenditure'].max()))
print("Avg meat expenditure: " + str(family_ie['Meat Expenditure'].mean()))

Min meat expenditure: 0
Mix meat expenditure: 261566
Avg meat expenditure: 10540.072573656846

In [13]:
# 4 - Function to print shape
def f_printshape (ds):
    print('Shape:' + str(ds.shape))
    
# 5 - Function to calculate Average of a numeric column
def f_avg (ds):
    avg = ds.mean()
    return avg

In [11]:
# Print shape using function
f_printshape(family_ie)

Shape:(41544, 60)

In [14]:
# Calculate average of total rice expenses using Function
avg_rice = f_avg(family_ie['Total Rice Expenditure'])
avg_rice

18195.825004814174