# Question 1

In [18]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('C:\\Users\\wibby\\Documents\\Work\\Data Science\\Datasets\\Meteorite_Landings.csv')

# Question 2

In [11]:
print(df.head())

       name   id nametype     recclass  mass (g)  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong               GeoLocation
0  01/01/1880 12:00:00 AM  50.77500    6.08333     (50.775000, 6.083330)
1  01/01/1951 12:00:00 AM  56.18333   10.23333    (56.183330, 10.233330)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000  (54.216670, -113.000000)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000   (16.883330, -99.900000)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000  (-33.166670, -64.950000)

In [12]:
print(df.tail())

             name     id nametype              recclass  mass (g)   fall  \
45711  Zillah 002  31356    Valid               Eucrite     172.0  Found
45712      Zinder  30409    Valid  Pallasite, ungrouped      46.0  Found
45713        Zlin  30410    Valid                    H4       3.3  Found
45714   Zubkovsky  31357    Valid                    L6    2167.0  Found
45715  Zulu Queen  30414    Valid                  L3.7     200.0  Found

                         year    reclat    reclong               GeoLocation
45711  01/01/1990 12:00:00 AM  29.03700   17.01850    (29.037000, 17.018500)
45712  01/01/1999 12:00:00 AM  13.78333    8.96667     (13.783330, 8.966670)
45713  01/01/1939 12:00:00 AM  49.25000   17.66667    (49.250000, 17.666670)
45714  01/01/2003 12:00:00 AM  49.78917   41.50460    (49.789170, 41.504600)
45715  01/01/1976 12:00:00 AM  33.98333 -115.68333  (33.983330, -115.683330)

In [15]:
df.shape

(45716, 10)

In [57]:
#Easier format to read
(x, y) = df.shape
print("There are", x, "rows and", y, "columns")

There are 45716 rows and 10 columns

# Question 3

In [31]:
np.mean(df['mass (g)'])

13278.078548601488

# Question 4

In [32]:
def data_shape(dataframe):
    print(dataframe.shape)

In [33]:
#Check if function works
data_shape(df)

(45716, 10)

In [78]:
def data_shape2(dataframe):
    x,y = dataframe.shape
    print("There are", x, "rows and", y, "columns")

In [79]:
#Check if function works
data_shape2(df)

There are 45716 rows and 10 columns

# Question 5

In [42]:
def num_avg(dataframe, fieldname):
    '''Returns the average of a numeric field, use quotes surrounding the fieldname'''
    aver = np.mean(dataframe[fieldname])
    return aver

In [50]:
num_avg(df, 'mass (g)')

13278.078548601488

# Q5 with error handling

In [70]:
#Add error handling to the function

def num_avg2(dataframe, fieldname):
    '''Returns the average of a numeric field, with error handling'''
    try:
        aver = np.mean(dataframe[fieldname])
        return aver
    except:
        print('Field must be int or float')

In [75]:
num_avg2(df, 'name')

Field must be int or float