In [ ]:
#DUE 02/07/2020
#TASK01 - Import data of your domain into jupyter notebook

In [33]:
import pandas as pd

df = pd.read_csv("E:\Python\Source\Import_and_export.csv")

In [99]:
# csv file is about Import and Export information

In [34]:
#TASK02 - Get data summary
df.describe

<bound method NDFrame.describe of      Direction  Year        Date    Weekday Current_Match Country  \
0      Exports  2015  31/01/2015   Saturday    01/02/2020   China
1      Exports  2015  01/02/2015     Sunday    02/02/2020   China
2      Exports  2015  02/02/2015     Monday    03/02/2020   China
3      Exports  2015  03/02/2015    Tuesday    04/02/2020   China
4      Exports  2015  06/02/2015     Friday    07/02/2020   China
...        ...   ...         ...        ...           ...     ...
8128   Imports  2020  20/06/2020   Saturday    20/06/2020   China
8129   Imports  2020  21/06/2020     Sunday    21/06/2020   China
8130   Imports  2020  22/06/2020     Monday    22/06/2020   China
8131   Imports  2020  23/06/2020    Tuesday    23/06/2020   China
8132   Imports  2020  24/06/2020  Wednesday    24/06/2020   China

                      Commodity Transport_Mode Measure     Value
0                         Dairy            All       $  12000000
1                         Dairy            All       $   4000000
2                         Dairy            All       $  10000000
3                         Dairy            All       $   1000000
4                         Dairy            All       $   9000000
...                         ...            ...     ...       ...
8128  Machinery and electronics            All       $   1000000
8129  Machinery and electronics            All       $   3000000
8130  Machinery and electronics            All       $  19000000
8131  Machinery and electronics            All       $  19000000
8132  Machinery and electronics            All       $  15000000

[8133 rows x 10 columns]>

In [43]:
columns = df.columns
index = df.index
data = df.values

In [45]:
columns

Index(['Direction', 'Year', 'Date', 'Weekday', 'Current_Match', 'Country',
       'Commodity', 'Transport_Mode', 'Measure', 'Value'],
      dtype='object')

In [44]:
index

RangeIndex(start=0, stop=8133, step=1)

In [42]:
data

array([['Exports', 2015, '31/01/2015', ..., 'All', '$', 12000000],
       ['Exports', 2015, '01/02/2015', ..., 'All', '$', 4000000],
       ['Exports', 2015, '02/02/2015', ..., 'All', '$', 10000000],
       ...,
       ['Imports', 2020, '22/06/2020', ..., 'All', '$', 19000000],
       ['Imports', 2020, '23/06/2020', ..., 'All', '$', 19000000],
       ['Imports', 2020, '24/06/2020', ..., 'All', '$', 15000000]],
      dtype=object)

In [ ]:
#TASK03 - Find average or min of one of the numeric columns

In [60]:
print("Maximum import/export - $",max(df["Value"]))
print("Minimum import/export - $",min(df["Value"]))
print("Average import/export - $",df["Value"].mean())

Maximum import/export - $ 83000000
Minimum import/export - $ 1000
Average import/export - $ 4338285.872371819

In [61]:
df["Value"].describe()

count    8.133000e+03
mean     4.338286e+06
std      6.615694e+06
min      1.000000e+03
25%      3.000000e+03
50%      1.000000e+06
75%      6.000000e+06
max      8.300000e+07
Name: Value, dtype: float64

In [ ]:
#TASK04 - Write a function to print the shape

In [94]:
def getShape(dFrame):
    print("Shape of DataFrame -", dFrame.shape)

In [95]:
getShape(df)

Shape of DataFrame - (8133, 10)

In [96]:
#TASK05 - Write a function to calculate average of numeric field

In [97]:
def getAvg(dFrame,dFiled):
    print("Average -", dFrame[dFiled].mean())

In [98]:
getAvg(df,"Value")

Average - 4338285.872371819