In [1]:
import numpy as np
import pandas as pd

In [13]:
solar = pd.read_csv('Benefits of converting to solar hot water â€“ dataset .csv')

In [14]:
solar.head()

,Victorian regions,Homes,Horizontal radiation MJ/sq m/day,Solar saving,CO2e saved kilotons,Cars off road thousands,Black balloons millions
0,Alpine,"5,366",19.3,78%,14.10,3.25,282
1,Ararat,"4,277",18.9,77%,11.21,2.59,224.2
2,Ballarat,"30,506",18.7,76%,68.11,15.78,"1,362.20"
3,Bass Coast,"10,549",18.5,78%,30.89,7.13,617.8
4,Baw Baw,"12,931",18.1,76%,37.99,8.79,759.8

In [22]:
np.mean(solar['CO2e saved kilotons'])

56.20375000000001

In [23]:
solar.shape

(56, 7)