In [2]:
#1 Importing data from google colab
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)
import pandas as pd
df=pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/housing-data.csv')
print(df)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive/
    sqft  bdrms  age   price
0   2104      3   70  399900
1   1600      3   28  329900
2   2400      3   44  369000
3   1416      2   49  232000
4   3000      4   75  539900
5   1985      4   61  299900
6   1534      3   12  314900
7   1427      3   57  198999
8   1380      3   14  212000
9   1494      3   15  242500
10  1940      4    7  239999
11  2000      3   27  347000
12  1890      3   45  329999
13  4478      5   49  699900
14  1268      3   58  259900
15  2300      4   77  449900
16  1320      2   62  299900
17  1236      3   78  199900
18  2609      4    5  499998
19  3031      4   21  599000
20  1767      3   44  252900
21  1888      2   79  255000
22  1604      3   13  242900
23  1962      4   53  259900
24  3890      3   36  573900
25  1100      3   60  249900
26  1458      3   29  464500
27  2526      3   13  469000
28  2200      3   28  475000
29  2637      3   25  299900
30  1839      2   40  349900
31  1000      1    5  169900
32  2040      4   75  314900
33  3137      3   67  579900
34  1811      4   24  285900
35  1437      3   50  249900
36  1239      3   22  229900
37  2132      4   28  345000
38  4215      4   66  549000
39  2162      4   43  287000
40  1664      2   40  368500
41  2238      3   37  329900
42  2567      4   57  314000
43  1200      3   76  299000
44   852      2   70  179900
45  1852      4   64  299900
46  1203      3   11  239500

In [12]:
2# Data Summary
df.agg({'price': ['min', 'max', 'median', 'average']})
df.agg({'sqft': ['min', 'max', 'median', 'average']})
df.agg({'bdrms': ['min', 'max', 'median', 'average']})
df.agg({'age': ['min', 'max', 'median', 'average']})

               age
min       5.000000
max      79.000000
median   44.000000
average  42.744681

In [23]:
#Average/mean of one of the numeric columns
Age=df['age']
Age.mean()

42.744680851063826

In [34]:
#Function returning dataframe shape

def shape_output(df):
    shape = df.shape
    return shape
  
shape_output(df)

(47, 4)

In [24]:
#Mean of each numeric column
df.mean()

sqft       2000.680851
bdrms         3.170213
age          42.744681
price    340412.659574
dtype: float64