In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('us-counties.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267174 entries, 0 to 267173
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    267174 non-null  object
 1   county  267174 non-null  object
 2   state   267174 non-null  object
 3   fips    264389 non-null  float64
 4   cases   267174 non-null  int64
 5   deaths  267174 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 12.2+ MB

In [52]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [11]:
df['cases'].mean()

434.6504450283336

In [26]:
def get_shape(data):
    """Get the shape of data set"""
    print('The shape is: ', data.shape)

In [32]:
# Check function on county field 
get_shape(df.county)

The shape is:  (267174,)

In [30]:
def cal_avg(data):
    """Compute average number on the data set"""
    average = data.mean()
    return average

In [63]:
# Check function on cases field
cal_avg(df.cases)

434.6504450283336