In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

In [5]:
earthquake = pd.read_csv('earthquake.csv')

In [6]:
earthquake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [7]:
earthquake.sample(5)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
8725,10/25/1987,16:46:13,5.409,36.751,Earthquake,12.0,NaN,NaN,6.3,MW,...,NaN,NaN,NaN,NaN,1.1,USP00039KF,US,US,NC,Reviewed
9644,09/23/1989,17:51:38,22.621,121.971,Earthquake,31.3,NaN,NaN,5.5,MW,...,NaN,NaN,NaN,NaN,1.0,USP0003ZXG,US,US,HRV,Reviewed
19320,12/30/2008,19:49:53,-4.297,101.217,Earthquake,20.0,NaN,214.0,5.9,MWB,...,NaN,27.7,NaN,NaN,1.1,USP000GRVS,US,US,US,Reviewed
3741,12/25/1975,23:22:22,-4.084,142.040,Earthquake,115.0,NaN,NaN,6.6,MB,...,NaN,NaN,NaN,NaN,NaN,USP0000E2C,US,US,US,Reviewed
9956,04/30/1990,05:54:41,-54.279,1.271,Earthquake,10.0,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,1.2,USP00048NS,US,US,HRV,Reviewed

In [8]:
earthquake.Date.dtypes

dtype('O')

In [11]:
earthquake['date_parsed'] = pd.to_datetime(earthquake['Date'], infer_datetime_format=True)

In [12]:
earthquake.date_parsed.dtypes

dtype('O')

In [ ]:
# the func doesn't change the type of Date column. However, it worked on Kaggle ?????