<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.1 
# *Data Wrangling and Munging with Pandas*

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [5]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [8]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

('Numpy: ', '1.16.5')
('Pandas: ', u'0.24.2')

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [12]:
# wrong:
bikes = pd.read_table('bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_table('bikeshare.csv', header = 0)
print(bikes.head())

                                                   0
0  instant,dteday,season,yr,mnth,hr,holiday,weekd...
1  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
2  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
3  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
4  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
()
  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0,3,13,16
0  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
1  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
2  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
3  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...
4  6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,...
()
  instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0  1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,...
1  2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.8,0...
2  3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.8,0...
3  4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,...
4  5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,...

C:\Users\Perrine Mignot\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

C:\Users\Perrine Mignot\Anaconda2\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  import sys
C:\Users\Perrine Mignot\Anaconda2\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  if sys.path[0] == '':

?:
ANSWER: Case 1 treats headings as just another data row. Case 2 treats the 1st data row as the column header. Case 3 gets the header right (row 0), but reads each row as a single column (Nb. the other two make that same mistake).

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [72]:
#ANSWER:
bikes = pd.read_table('bikeshare.csv', header = 0, sep = ',')
print(bikes.head())

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

C:\Users\Perrine Mignot\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

Note that we could have used `read.csv()` above. When is `read_table()` necessary?

?:
ANSWER: When `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects 
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be delth with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [32]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [36]:
df = pd.read_excel('Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
5,1,0.4,1.7,3.9,5.4,Setosa
6,1,0.3,1.4,3.4,4.6,Setosa
7,1,0.2,1.5,3.4,5.0,Setosa
8,1,0.2,1.4,2.9,4.4,Setosa
9,1,0.1,1.5,3.1,4.9,Setosa
10,1,0.2,1.5,3.7,5.4,Setosa
11,1,0.2,1.6,3.4,4.8,Setosa
12,1,0.1,1.4,3.0,4.8,Setosa
13,1,0.1,1.1,3.0,4.3,Setosa
14,1,0.2,1.2,4.0,5.8,Setosa
15,1,0.4,1.5,4.4,5.7,Setosa
16,1,0.4,1.3,3.9,5.4,Setosa
17,1,0.3,1.4,3.5,5.1,Setosa
18,1,0.3,1.7,3.8,5.7,Setosa
19,1,0.3,1.5,3.8,5.1,Setosa
20,1,0.2,1.7,3.4,5.4,Setosa
21,1,0.4,1.5,3.7,5.1,Setosa
22,1,0.2,1.0,3.6,4.6,Setosa
23,1,0.5,1.7,3.3,5.1,Setosa
24,1,0.2,1.9,3.4,4.8,Setosa
25,1,0.2,1.6,3.0,5.0,Setosa
26,1,0.4,1.6,3.4,5.0,Setosa
27,1,0.2,1.5,3.5,5.2,Setosa
28,1,0.2,1.4,3.4,5.2,Setosa
29,1,0.2,1.6,3.2,4.7,Setosa
...,...,...,...,...,...,...
120,3,2.3,5.7,3.2,6.9,Verginica
121,3,2.0,4.9,2.8,5.6,Verginica
122,3,2.0,6.7,2.8,7.7,Verginica
123,3,1.8,4.9,2.7,6.3,Verginica
124,3,2.1,5.7,3.3,6.7,Verginica
125,3,1.8,6.0,3.2,7.2,Verginica
126,3,1.8,4.8,2.8,6.2,Verginica
127,3,1.8,4.9,3.0,6.1,Verginica
128,3,2.1,5.6,2.8,6.4,Verginica
129,3,1.6,5.8,3.0,7.2,Verginica
130,3,1.9,6.1,2.8,7.4,Verginica
131,3,2.0,6.4,3.8,7.9,Verginica
132,3,2.2,5.6,2.8,6.4,Verginica
133,3,1.5,5.1,2.8,6.3,Verginica
134,3,1.4,5.6,2.6,6.1,Verginica
135,3,2.3,6.1,3.0,7.7,Verginica
136,3,2.4,5.6,3.4,6.3,Verginica
137,3,1.8,5.5,3.1,6.4,Verginica
138,3,1.8,4.8,3.0,6.0,Verginica
139,3,2.1,5.4,3.1,6.9,Verginica
140,3,2.4,5.6,3.1,6.7,Verginica
141,3,2.3,5.1,3.1,6.9,Verginica
142,3,1.9,5.1,2.7,5.8,Verginica
143,3,2.3,5.9,3.2,6.8,Verginica
144,3,2.5,5.7,3.3,6.7,Verginica
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

So, this file appears to have an embedded table of aggregates on the same sheet as the raw data (a naughty but common practice amongst analysts).

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For ecxample, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [56]:
#ANSWER
df = pd.read_excel('Iris.xls', sheet_name = 'Data', header = 0, nrows = 20, index_col = 'Species_No', usecols = [0,1,2,3,4,5])
df

            Petal_width  Petal_length  Sepal_width  Sepal_length Species_name
Species_No
1                   0.2           1.4          3.5           5.1       Setosa
1                   0.2           1.4          3.0           4.9       Setosa
1                   0.2           1.3          3.2           4.7       Setosa
1                   0.2           1.5          3.1           4.6       Setosa
1                   0.2           1.4          3.6           5.0       Setosa
1                   0.4           1.7          3.9           5.4       Setosa
1                   0.3           1.4          3.4           4.6       Setosa
1                   0.2           1.5          3.4           5.0       Setosa
1                   0.2           1.4          2.9           4.4       Setosa
1                   0.1           1.5          3.1           4.9       Setosa
1                   0.2           1.5          3.7           5.4       Setosa
1                   0.2           1.6          3.4           4.8       Setosa
1                   0.1           1.4          3.0           4.8       Setosa
1                   0.1           1.1          3.0           4.3       Setosa
1                   0.2           1.2          4.0           5.8       Setosa
1                   0.4           1.5          4.4           5.7       Setosa
1                   0.4           1.3          3.9           5.4       Setosa
1                   0.3           1.4          3.5           5.1       Setosa
1                   0.3           1.7          3.8           5.7       Setosa
1                   0.3           1.5          3.8           5.1       Setosa

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [54]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2020-07-05T09:39:47.375Z,9.8744,-84.3523,10,4.30,mb,NaN,154,0.269,1.13,...,2020-07-05T10:13:29.176Z,"5 km NW of Santiago, Costa Rica",earthquake,6.30,2.00,0.075,50,reviewed,us,us
1,2020-07-05T09:21:27.320Z,17.9395,-66.9575,7,2.98,md,23.0,202,0.086,0.13,...,2020-07-05T09:57:03.191Z,"6 km SW of Guánica, Puerto Rico",earthquake,0.42,0.23,0.080,5,reviewed,pr,pr

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [62]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'
df = pd.read_html(url)
df

[                                             Bank Name                City  \
 0                                 The First State Bank       Barboursville
 1                                   Ericson State Bank             Ericson
 2                     City National Bank of New Jersey              Newark
 3                                        Resolute Bank              Maumee
 4                                Louisa Community Bank              Louisa
 5                                 The Enloe State Bank              Cooper
 6                  Washington Federal Bank for Savings             Chicago
 7      The Farmers and Merchants State Bank of Argonia             Argonia
 8                                  Fayette County Bank          Saint Elmo
 9    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 10                                      First NBC Bank         New Orleans
 11                                       Proficio Bank  Cottonwood Heights
 12                       Seaway Bank and Trust Company             Chicago
 13                              Harvest Community Bank          Pennsville
 14                                         Allied Bank            Mulberry
 15                        The Woodbury Banking Company            Woodbury
 16                              First CornerStone Bank     King of Prussia
 17                                  Trust Company Bank             Memphis
 18                          North Milwaukee State Bank           Milwaukee
 19                              Hometown National Bank            Longview
 20                                 The Bank of Georgia      Peachtree City
 21                                        Premier Bank              Denver
 22                                      Edgebrook Bank             Chicago
 23                              Doral Bank  En Español            San Juan
 24                   Capitol City Bank & Trust Company             Atlanta
 25                             Highland Community Bank             Chicago
 26                    First National Bank of Crestview           Crestview
 27                                  Northern Star Bank             Mankato
 28              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 29               The National Republic Bank of Chicago             Chicago
 ..                                                 ...                 ...
 531                                  ANB Financial, NA         Bentonville
 532                                          Hume Bank                Hume
 533                             Douglass National Bank         Kansas City
 534                                  Miami Valley Bank            Lakeview
 535                                            NetBank          Alpharetta
 536                          Metropolitan Savings Bank          Pittsburgh
 537                                    Bank of Ephraim             Ephraim
 538                                      Reliance Bank        White Plains
 539              Guaranty National Bank of Tallahassee         Tallahassee
 540                                Dollar Savings Bank              Newark
 541                               Pulaski Savings Bank        Philadelphia
 542              First National Bank of Blanchardville      Blanchardville
 543                              Southern Pacific Bank            Torrance
 544                        Farmers Bank of Cheneyville         Cheneyville
 545                                      Bank of Alamo               Alamo
 546             AmTrade International Bank  En Español             Atlanta
 547                     Universal Federal Savings Bank             Chicago
 548                       Connecticut Bank of Commerce            Stamford
 549                                   New Century Bank     Shelby Township
 550                              Net 1st National Bank          Boca Raton
 551                                       NextBank, NA             Phoenix
 552                           Oakwood Deposit Bank Co.             Oakwood
 553                              Bank of Sierra Blanca       Sierra Blanca
 554                      Hamilton Bank, NA  En Español               Miami
 555                             Sinclair National Bank            Gravette
 556                                 Superior Bank, FSB            Hinsdale
 557                                Malta National Bank               Malta
 558                    First Alliance Bank & Trust Co.          Manchester
 559                  National State Bank of Metropolis          Metropolis
 560                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date
 0    WV  14361                       MVB Bank, Inc.       April 3, 2020
 1    NE  18265           Farmers and Merchants Bank   February 14, 2020
 2    NJ  21111                      Industrial Bank    November 1, 2019
 3    OH  58317                   Buckeye State Bank    October 25, 2019
 4    KY  58112    Kentucky Farmers Bank Corporation    October 25, 2019
 5    TX  10716                   Legend Bank, N. A.        May 31, 2019
 6    IL  30570                   Royal Savings Bank   December 15, 2017
 7    KS  17719                          Conway Bank    October 13, 2017
 8    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 9    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 10   LA  58302                         Whitney Bank      April 28, 2017
 11   UT  35495                    Cache Valley Bank       March 3, 2017
 12   IL  19328                  State Bank of Texas    January 27, 2017
 13   NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 14   AR     91                         Today's Bank  September 23, 2016
 15   GA  11297                          United Bank     August 19, 2016
 16   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 17   TN   9956           The Bank of Fayette County      April 29, 2016
 18   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 19   WA  35156                       Twin City Bank     October 2, 2015
 20   GA  35259                        Fidelity Bank     October 2, 2015
 21   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 22   IL  57772             Republic Bank of Chicago         May 8, 2015
 23   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 24   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 25   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 26   FL  17557                       First NBC Bank    January 16, 2015
 27   MN  34983                            BankVista   December 19, 2014
 28   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 29   IL    916                  State Bank of Texas    October 24, 2014
 ..   ..    ...                                  ...                 ...
 531  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 532  MO   1971                        Security Bank       March 7, 2008
 533  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 534  OH  16848         The Citizens Banking Company     October 4, 2007
 535  GA  32575                           ING DIRECT  September 28, 2007
 536  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 537  UT   1249                        Far West Bank       June 25, 2004
 538  NY  26778                     Union State Bank      March 19, 2004
 539  FL  26838              Hancock Bank of Florida      March 12, 2004
 540  NJ  31330                          No Acquirer   February 14, 2004
 541  PA  27203                       Earthstar Bank   November 14, 2003
 542  WI  11639                        The Park Bank         May 9, 2003
 543  CA  27094                            Beal Bank    February 7, 2003
 544  LA  16445            Sabine State Bank & Trust   December 17, 2002
 545  TN   9961                          No Acquirer    November 8, 2002
 546  GA  33784                          No Acquirer  September 30, 2002
 547  IL  29355               Chicago Community Bank       June 27, 2002
 548  CT  19183                   Hudson United Bank       June 26, 2002
 549  MI  34979                          No Acquirer      March 28, 2002
 550  FL  26652                       Bank Leumi USA       March 1, 2002
 551  AZ  22314                          No Acquirer    February 7, 2002
 552  OH   8966       The State Bank & Trust Company    February 1, 2002
 553  TX  22002     The Security State Bank of Pecos    January 18, 2002
 554  FL  24382     Israel Discount Bank of New York    January 11, 2002
 555  AR  34248                   Delta Trust & Bank   September 7, 2001
 556  IL  32646                Superior Federal, FSB       July 27, 2001
 557  OH   6629                    North Valley Bank         May 3, 2001
 558  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 559  IL   3815              Banterra Bank of Marion   December 14, 2000
 560  HI  21029                   Bank of the Orient    October 13, 2000

 [561 rows x 6 columns]]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here is an example that includes a nice parser class: http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [63]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

    category            datetime  integer
0          0 2015-01-01 00:00:00        5
1          0 2015-01-01 00:00:01        5
10         0 2015-01-01 00:00:10        5
11         0 2015-01-01 00:00:11        5
12         0 2015-01-01 00:00:12        8

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [97]:
#ANSWER
bikes.shape
#Answer: 17 columns and 17379 rows

(17379, 17)

What are the column names in `bikes`?

In [68]:
#ANSWER
bikes.columns
#Answer: u'instant', u'dteday', u'season', u'yr', u'mnth', u'hr', u'holiday', u'weekday', u'workingday', u'weathersit', u'temp', u'atemp', u'hum',u'windspeed', u'casual', u'registered', u'cnt'

Index([u'instant', u'dteday', u'season', u'yr', u'mnth', u'hr', u'holiday',
       u'weekday', u'workingday', u'weathersit', u'temp', u'atemp', u'hum',
       u'windspeed', u'casual', u'registered', u'cnt'],
      dtype='object')

What are the data types of these columns?

In [71]:
#ANSWER
bikes.dtypes
#12 columns are integers (full numbers) except for dteday which is a date and the following which are floats (numbers with decimals): temp, atemp, hum, windespeed

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

What is the (row) index for this DataFrame?

In [98]:
#ANSWER
bikes.index

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

## Slicing and Dicing

# It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this. 
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [78]:
#ANSWER bikes[['season']] returns a cleaner table with headings and grid whereas bikes['season'] has row data with no structure
bikes[['season']]

       season
0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1
11          1
12          1
13          1
14          1
15          1
16          1
17          1
18          1
19          1
20          1
21          1
22          1
23          1
24          1
25          1
26          1
27          1
28          1
29          1
...       ...
17349       1
17350       1
17351       1
17352       1
17353       1
17354       1
17355       1
17356       1
17357       1
17358       1
17359       1
17360       1
17361       1
17362       1
17363       1
17364       1
17365       1
17366       1
17367       1
17368       1
17369       1
17370       1
17371       1
17372       1
17373       1
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [95]:
#ANSWER
bikes.loc[0:4,['atemp']]

    atemp
0  0.2879
1  0.2727
2  0.2727
3  0.2879
4  0.2879

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [102]:
#E: bikes[[0]]
#E: bikes[0]
#E: bikes[0,0]
bikes[[0,0]]

KeyError: u"None of [Int64Index([0, 0], dtype='int64')] are in the [columns]"

What is the correct way to access the 1st row of the DataFrame by its index?

In [105]:
#ANSWER
bikes[0:1]

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16

What is the correct way to access the 2nd column of the DataFrame by its index?

In [107]:
#ANSWER
bikes.iloc[:,1]

0        2011-01-01
1        2011-01-01
2        2011-01-01
3        2011-01-01
4        2011-01-01
5        2011-01-01
6        2011-01-01
7        2011-01-01
8        2011-01-01
9        2011-01-01
10       2011-01-01
11       2011-01-01
12       2011-01-01
13       2011-01-01
14       2011-01-01
15       2011-01-01
16       2011-01-01
17       2011-01-01
18       2011-01-01
19       2011-01-01
20       2011-01-01
21       2011-01-01
22       2011-01-01
23       2011-01-01
24       2011-01-02
25       2011-01-02
26       2011-01-02
27       2011-01-02
28       2011-01-02
29       2011-01-02
            ...
17349    2012-12-30
17350    2012-12-30
17351    2012-12-30
17352    2012-12-30
17353    2012-12-30
17354    2012-12-30
17355    2012-12-31
17356    2012-12-31
17357    2012-12-31
17358    2012-12-31
17359    2012-12-31
17360    2012-12-31
17361    2012-12-31
17362    2012-12-31
17363    2012-12-31
17364    2012-12-31
17365    2012-12-31
17366    2012-12-31
17367    2012-12-31
17368    2012-12-31
17369    2012-12-31
17370    2012-12-31
17371    2012-12-31
17372    2012-12-31
17373    2012-12-31
17374    2012-12-31
17375    2012-12-31
17376    2012-12-31
17377    2012-12-31
17378    2012-12-31
Name: dteday, Length: 17379, dtype: object

## Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [108]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [127]:
#ANSWER
bikes.isnull().sum().sum()

0

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [112]:
#ANSWER
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: Marking a data point as invalid.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [135]:
#ANSWER: acronym for Not a Number. 
bikes.fillna(0, inplace = True) 
print(bikes)

       instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
5            6  2011-01-01       1   0     1   5        0        6
6            7  2011-01-01       1   0     1   6        0        6
7            8  2011-01-01       1   0     1   7        0        6
8            9  2011-01-01       1   0     1   8        0        6
9           10  2011-01-01       1   0     1   9        0        6
10          11  2011-01-01       1   0     1  10        0        6
11          12  2011-01-01       1   0     1  11        0        6
12          13  2011-01-01       1   0     1  12        0        6
13          14  2011-01-01       1   0     1  13        0        6
14          15  2011-01-01       1   0     1  14        0        6
15          16  2011-01-01       1   0     1  15        0        6
16          17  2011-01-01       1   0     1  16        0        6
17          18  2011-01-01       1   0     1  17        0        6
18          19  2011-01-01       1   0     1  18        0        6
19          20  2011-01-01       1   0     1  19        0        6
20          21  2011-01-01       1   0     1  20        0        6
21          22  2011-01-01       1   0     1  21        0        6
22          23  2011-01-01       1   0     1  22        0        6
23          24  2011-01-01       1   0     1  23        0        6
24          25  2011-01-02       1   0     1   0        0        0
25          26  2011-01-02       1   0     1   1        0        0
26          27  2011-01-02       1   0     1   2        0        0
27          28  2011-01-02       1   0     1   3        0        0
28          29  2011-01-02       1   0     1   4        0        0
29          30  2011-01-02       1   0     1   6        0        0
...        ...         ...     ...  ..   ...  ..      ...      ...
17349    17350  2012-12-30       1   1    12  18        0        0
17350    17351  2012-12-30       1   1    12  19        0        0
17351    17352  2012-12-30       1   1    12  20        0        0
17352    17353  2012-12-30       1   1    12  21        0        0
17353    17354  2012-12-30       1   1    12  22        0        0
17354    17355  2012-12-30       1   1    12  23        0        0
17355    17356  2012-12-31       1   1    12   0        0        1
17356    17357  2012-12-31       1   1    12   1        0        1
17357    17358  2012-12-31       1   1    12   2        0        1
17358    17359  2012-12-31       1   1    12   3        0        1
17359    17360  2012-12-31       1   1    12   4        0        1
17360    17361  2012-12-31       1   1    12   5        0        1
17361    17362  2012-12-31       1   1    12   6        0        1
17362    17363  2012-12-31       1   1    12   7        0        1
17363    17364  2012-12-31       1   1    12   8        0        1
17364    17365  2012-12-31       1   1    12   9        0        1
17365    17366  2012-12-31       1   1    12  10        0        1
17366    17367  2012-12-31       1   1    12  11        0        1
17367    17368  2012-12-31       1   1    12  12        0        1
17368    17369  2012-12-31       1   1    12  13        0        1
17369    17370  2012-12-31       1   1    12  14        0        1
17370    17371  2012-12-31       1   1    12  15        0        1
17371    17372  2012-12-31       1   1    12  16        0        1
17372    17373  2012-12-31       1   1    12  17        0        1
17373    17374  2012-12-31       1   1    12  18        0        1
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
5               0           2  0.24  0.2576  0.75     0.0896       0
6               0           1  0.22  0.2727  0.80     0.0000       2
7               0           1  0.20  0.2576  0.86     0.0000       1
8               0           1  0.24  0.2879  0.75     0.0000       1
9               0           1  0.32  0.3485  0.76     0.0000       8
10              0           1  0.38  0.3939  0.76     0.2537      12
11              0           1  0.36  0.3333  0.81     0.2836      26
12              0           1  0.42  0.4242  0.77     0.2836      29
13              0           2  0.46  0.4545  0.72     0.2985      47
14              0           2  0.46  0.4545  0.72     0.2836      35
15              0           2  0.44  0.4394  0.77     0.2985      40
16              0           2  0.42  0.4242  0.82     0.2985      41
17              0           2  0.44  0.4394  0.82     0.2836      15
18              0           3  0.42  0.4242  0.88     0.2537       9
19              0           3  0.42  0.4242  0.88     0.2537       6
20              0           2  0.40  0.4091  0.87     0.2537      11
21              0           2  0.40  0.4091  0.87     0.1940       3
22              0           2  0.40  0.4091  0.94     0.2239      11
23              0           2  0.46  0.4545  0.88     0.2985      15
24              0           2  0.46  0.4545  0.88     0.2985       4
25              0           2  0.44  0.4394  0.94     0.2537       1
26              0           2  0.42  0.4242  1.00     0.2836       1
27              0           2  0.46  0.4545  0.94     0.1940       2
28              0           2  0.46  0.4545  0.94     0.1940       2
29              0           3  0.42  0.4242  0.77     0.2985       0
...           ...         ...   ...     ...   ...        ...     ...
17349           0           2  0.24  0.2121  0.44     0.2985      12
17350           0           1  0.34  0.3636  0.61     0.0000      16
17351           0           1  0.22  0.1970  0.47     0.3284       9
17352           0           1  0.20  0.2121  0.51     0.1642       5
17353           0           1  0.20  0.1970  0.55     0.1940       6
17354           0           1  0.20  0.1970  0.51     0.2239      10
17355           1           1  0.18  0.1818  0.55     0.1940       4
17356           1           1  0.18  0.1818  0.55     0.1940       6
17357           1           1  0.16  0.1667  0.59     0.1642       3
17358           1           1  0.16  0.1818  0.59     0.1045       0
17359           1           1  0.14  0.1667  0.69     0.1045       0
17360           1           1  0.16  0.1515  0.64     0.1940       0
17361           1           1  0.16  0.1667  0.64     0.1642       0
17362           1           1  0.16  0.1818  0.64     0.1343       2
17363           1           1  0.14  0.1515  0.69     0.1343       9
17364           1           2  0.18  0.2121  0.64     0.1045      13
17365           1           2  0.20  0.2121  0.69     0.1343      33
17366           1           2  0.22  0.2273  0.60     0.1940      43
17367           1           2  0.24  0.2273  0.56     0.1940      52
17368           1           2  0.26  0.2576  0.44     0.1642      38
17369           1           2  0.28  0.2727  0.45     0.2239      62
17370           1           2  0.28  0.2879  0.45     0.1343      69
17371           1           2  0.26  0.2576  0.48     0.1940      30
17372           1           2  0.26  0.2879  0.48     0.0896      14
17373           1           2  0.26  0.2727  0.48     0.1343      10
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
5               1    1
6               0    2
7               2    3
8               7    8
9               6   14
10             24   36
11             30   56
12             55   84
13             47   94
14             71  106
15             70  110
16             52   93
17             52   67
18             26   35
19             31   37
20             25   36
21             31   34
22             17   28
23             24   39
24             13   17
25             16   17
26              8    9
27              4    6
28              1    3
29              2    2
...           ...  ...
17349         113  125
17350          86  102
17351          63   72
17352          42   47
17353          30   36
17354          39   49
17355          30   34
17356          13   19
17357           8   11
17358           1    1
17359           3    3
17360           9    9
17361          40   40
17362          83   85
17363         187  196
17364         144  157
17365          87  120
17366         114  157
17367         172  224
17368         165  203
17369         185  247
17370         246  315
17371         184  214
17372         150  164
17373         112  122
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]

Apply the Pandas `isna` function to the following data objects:

In [136]:
x = 2.3
y = np.nan
print(x, y)

(2.3, nan)

In [141]:
#ANSWER
print(pd.isna(x), pd.isna(y))

(False, True)

In [137]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[ 1. nan  3.]
 [ 4.  5. nan]]

In [0]:
#ANSWER

How is the pandas I/O parameter `na_values` used?

? ANSWER:

## Data Profiling

### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [143]:
#ANSWER
bikes['season'].value_counts()

3    4496
2    4409
1    4242
4    4232
Name: season, dtype: int64

### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [144]:
#ANSWER
print('instant:', bikes['instant'].min(), 'to', bikes['instant'].max())
print('dteday:', bikes['dteday'].min(), 'to', bikes['dteday'].max())
print('windspeed:', bikes['windspeed'].min(), 'to', bikes['windspeed'].max())

('instant:', 1, 'to', 17379)
('dteday:', '2011-01-01', 'to', '2012-12-31')
('windspeed:', 0.0, 'to', 0.8507)

Compute and print the overall minimum and maximum of the numeric data columns:

In [145]:
bikes_min, bikes_max = (min(bikes.min()), max(bikes.max()))
bikes_min, bikes_max

(0, '2012-12-31')

### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [146]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [148]:
#ANSWER
bikes['atemp'].quantile((0.1, 0.25, 0.5, 0.75, 0.9))

0.10    0.2424
0.25    0.3333
0.50    0.4848
0.75    0.6212
0.90    0.6970
Name: atemp, dtype: float64

### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [149]:
type(bikes['atemp'])

pandas.core.series.Series

In [3]:
bikes.sample(5)

NameError: name 'bikes' is not defined

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indcates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [154]:
atemp_level = pd.cut(bikes['atemp'], bins = 4)     
print(atemp_level)

0           (0.25, 0.5]
1           (0.25, 0.5]
2           (0.25, 0.5]
3           (0.25, 0.5]
4           (0.25, 0.5]
5           (0.25, 0.5]
6           (0.25, 0.5]
7           (0.25, 0.5]
8           (0.25, 0.5]
9           (0.25, 0.5]
10          (0.25, 0.5]
11          (0.25, 0.5]
12          (0.25, 0.5]
13          (0.25, 0.5]
14          (0.25, 0.5]
15          (0.25, 0.5]
16          (0.25, 0.5]
17          (0.25, 0.5]
18          (0.25, 0.5]
19          (0.25, 0.5]
20          (0.25, 0.5]
21          (0.25, 0.5]
22          (0.25, 0.5]
23          (0.25, 0.5]
24          (0.25, 0.5]
25          (0.25, 0.5]
26          (0.25, 0.5]
27          (0.25, 0.5]
28          (0.25, 0.5]
29          (0.25, 0.5]
              ...
17349    (-0.001, 0.25]
17350       (0.25, 0.5]
17351    (-0.001, 0.25]
17352    (-0.001, 0.25]
17353    (-0.001, 0.25]
17354    (-0.001, 0.25]
17355    (-0.001, 0.25]
17356    (-0.001, 0.25]
17357    (-0.001, 0.25]
17358    (-0.001, 0.25]
17359    (-0.001, 0.25]
17360    (-0.001, 0.25]
17361    (-0.001, 0.25]
17362    (-0.001, 0.25]
17363    (-0.001, 0.25]
17364    (-0.001, 0.25]
17365    (-0.001, 0.25]
17366    (-0.001, 0.25]
17367    (-0.001, 0.25]
17368       (0.25, 0.5]
17369       (0.25, 0.5]
17370       (0.25, 0.5]
17371       (0.25, 0.5]
17372       (0.25, 0.5]
17373       (0.25, 0.5]
17374       (0.25, 0.5]
17375       (0.25, 0.5]
17376       (0.25, 0.5]
17377       (0.25, 0.5]
17378       (0.25, 0.5]
Name: atemp, Length: 17379, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

What is `atemp_level`?

In [0]:
#ANSWER: it is a split of the atemp column into 4 bins between 0 and 1

Here is a random sample of `atemp_level`:

In [155]:
atemp_level.sample(5)

11920       (0.5, 0.75]
17250    (-0.001, 0.25]
14082       (0.5, 0.75]
14880       (0.25, 0.5]
14689       (0.25, 0.5]
Name: atemp, dtype: category
Categories (4, interval[float64]): [(-0.001, 0.25] < (0.25, 0.5] < (0.5, 0.75] < (0.75, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [156]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

426     mild
9244    mild
2309    mild
2623    mild
1445    mild
Name: atemp, dtype: category
Categories (4, object): [cool < mild < warm < hot]

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [158]:
#ANSWER
bikes['atemp_level'] = atemp_level
bikes[(bikes.atemp_level == 'mild') & (bikes.season == 2)].season.count()

1829

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

# Synthetic Data

Sometimes we may want to generate test data, or we may need to initalise a series, matrix, or data frame for input to an algorithm. Numpy has several methods we can use for this.

Execute the following, then check the shape and content of each variable:

In [170]:
# Creating arrays with initial values
a = np.zeros((3))
b = np.ones((1,3))
c = np.random.randint(1,10,(2,3,4))   # randint(low, high, size)
d = np.arange(4)
e = np.array( [[1,2,3,4], [5,6,7,8]] )

In [160]:
# Cleaning Data

## Load Data

Load rock.csv and clean the dataset.

In [171]:
rock = pd.read_csv("rock.csv")
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

## Check Column Names

Check column names and clean.

In [162]:
rock.columns

Index([u'Song Clean', u'ARTIST CLEAN', u'Release Year', u'COMBINED', u'First?',
       u'Year?', u'PlayCount', u'F*G'],
      dtype='object')

In [177]:
rock.columns = rock.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('?', '').str.replace('*', '').str.replace('(', '').str.replace(')', '')
rock.columns

Index([u'song_clean', u'artist_clean', u'release_year', u'combined', u'first',
       u'year', u'playcount', u'fg'],
      dtype='object')

# Replace Null Values With 0

Check 'release' column whether this column have any null value or not. Replace null value with 0.

In [165]:
rock.isnull().sum()

Song Clean        0
ARTIST CLEAN      0
Release Year    577
COMBINED          0
First?            0
Year?             0
PlayCount         0
F*G               0
dtype: int64

In [195]:
rock.fillna(0, inplace = True) 
print(rock)

                                       song_clean   artist_clean  \
0                                Caught Up in You    .38 Special
1                                    Fantasy Girl    .38 Special
2                                 Hold On Loosely    .38 Special
3                          Rockin' Into the Night    .38 Special
4                               Art For Arts Sake           10cc
5                                      Kryptonite   3 Doors Down
6                                           Loser   3 Doors Down
7                                   When I'm Gone   3 Doors Down
8                                      What's Up?  4 Non Blondes
9                                      Take On Me           a-ha
10                          Baby, Please Don't Go          AC/DC
11                                  Back In Black          AC/DC
12                                        Big Gun          AC/DC
13                         CAN'T STOP ROCK'N'ROLL          AC/DC
14                    Dirty Deeds Done Dirt Cheap          AC/DC
15                        For Those About To Rock          AC/DC
16                               Girls Got Rhythm          AC/DC
17                                 Hard As A Rock          AC/DC
18                             Have a Drink On Me          AC/DC
19                                    Hells Bells          AC/DC
20                                Highway To Hell          AC/DC
21                     It's A Long Way To The Top          AC/DC
22                                      Jailbreak          AC/DC
23                              Let There Be Rock          AC/DC
24                                Let's Get It Up          AC/DC
25                                      Live Wire          AC/DC
26                                     Moneytalks          AC/DC
27                                  Night Prowler          AC/DC
28            Rock and Roll Ain't Noise Pollution          AC/DC
29                                Shoot To Thrill          AC/DC
...                                           ...            ...
2200                      Owner of a Lonely Heart            Yes
2201                                   Roundabout            Yes
2202                             Starship Trooper            Yes
2203                            Wonderous Stories            Yes
2204                         Yours Is No Disgrace            Yes
2205                        Tell Me What You Want          Zebra
2206                        Who's Behind The Door          Zebra
2207                           Time of the Season        Zombies
2208                    A Fool for Your Stockings         ZZ Top
2209             Arrested For Driving While Blind         ZZ Top
2210                 Beer Drinkers & Hell Raisers         ZZ Top
2211                             Cheap Sunglasses         ZZ Top
2212                         Gimme All Your Lovin         ZZ Top
2213                        Got Me Under Pressure         ZZ Top
2214                            Heard It On the X         ZZ Top
2215                                  I Thank You         ZZ Top
2216                      I'm Bad, I'm Nationwide         ZZ Top
2217                      Jesus Just Left Chicago         ZZ Top
2218                                Just Got Paid         ZZ Top
2219                                    La Grange         ZZ Top
2220                                         Legs         ZZ Top
2221                     My Head's In Mississippi         ZZ Top
2222                           Party On The Patio         ZZ Top
2223                               Pearl Necklace         ZZ Top
2224                            Sharp Dressed Man         ZZ Top
2225                      She Loves My Automobile         ZZ Top
2226                            Tube Snake Boogie         ZZ Top
2227                                         Tush         ZZ Top
2228                                   TV Dinners         ZZ Top
2229  WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO         ZZ Top

      release_year                                           combined  first  \
0           1982.0                    Caught Up in You by .38 Special      1
1              0.0                        Fantasy Girl by .38 Special      1
2           1981.0                     Hold On Loosely by .38 Special      1
3           1980.0              Rockin' Into the Night by .38 Special      1
4           1975.0                          Art For Arts Sake by 10cc      1
5           2000.0                         Kryptonite by 3 Doors Down      1
6           2000.0                              Loser by 3 Doors Down      1
7           2002.0                      When I'm Gone by 3 Doors Down      1
8           1992.0                        What's Up? by 4 Non Blondes      1
9           1985.0                                 Take On Me by a-ha      1
10             0.0                     Baby, Please Don't Go by AC/DC      1
11          1980.0                             Back In Black by AC/DC      1
12          1993.0                                   Big Gun by AC/DC      1
13             0.0                    CAN'T STOP ROCK'N'ROLL by AC/DC      1
14          1976.0               Dirty Deeds Done Dirt Cheap by AC/DC      1
15          1981.0                   For Those About To Rock by AC/DC      1
16             0.0                          Girls Got Rhythm by AC/DC      1
17          1995.0                            Hard As A Rock by AC/DC      1
18          1980.0                        Have a Drink On Me by AC/DC      1
19          1980.0                               Hells Bells by AC/DC      1
20          1979.0                           Highway To Hell by AC/DC      1
21          1975.0                It's A Long Way To The Top by AC/DC      1
22          1984.0                                 Jailbreak by AC/DC      1
23          1977.0                         Let There Be Rock by AC/DC      1
24             0.0                           Let's Get It Up by AC/DC      1
25             0.0                                 Live Wire by AC/DC      1
26             0.0                                Moneytalks by AC/DC      1
27          1979.0                             Night Prowler by AC/DC      1
28          1980.0       Rock and Roll Ain't Noise Pollution by AC/DC      1
29             0.0                           Shoot To Thrill by AC/DC      1
...            ...                                                ...    ...
2200        1983.0                     Owner of a Lonely Heart by Yes      1
2201        1971.0                                  Roundabout by Yes      1
2202        1971.0                            Starship Trooper by Yes      1
2203           0.0                           Wonderous Stories by Yes      1
2204        1971.0                        Yours Is No Disgrace by Yes      1
2205           0.0                     Tell Me What You Want by Zebra      1
2206           0.0                     Who's Behind The Door by Zebra      1
2207        1968.0                      Time of the Season by Zombies      1
2208           0.0                A Fool for Your Stockings by ZZ Top      1
2209        1976.0         Arrested For Driving While Blind by ZZ Top      1
2210        1973.0             Beer Drinkers & Hell Raisers by ZZ Top      1
2211        1980.0                         Cheap Sunglasses by ZZ Top      1
2212        1983.0                     Gimme All Your Lovin by ZZ Top      1
2213        1983.0                    Got Me Under Pressure by ZZ Top      1
2214        1975.0                        Heard It On the X by ZZ Top      1
2215           0.0                              I Thank You by ZZ Top      1
2216           0.0                  I'm Bad, I'm Nationwide by ZZ Top      1
2217        1973.0                  Jesus Just Left Chicago by ZZ Top      1
2218           0.0                            Just Got Paid by ZZ Top      1
2219        1973.0                                La Grange by ZZ Top      1
2220        1983.0                                     Legs by ZZ Top      1
2221           0.0                 My Head's In Mississippi by ZZ Top      1
2222           0.0                       Party On The Patio by ZZ Top      1
2223        1981.0                           Pearl Necklace by ZZ Top      1
2224        1983.0                        Sharp Dressed Man by ZZ Top      1
2225           0.0                  She Loves My Automobile by ZZ Top      1
2226        1981.0                        Tube Snake Boogie by ZZ Top      1
2227        1975.0                                     Tush by ZZ Top      1
2228        1983.0                               TV Dinners by ZZ Top      1
2229        1973.0  WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...      1

      year  playcount   fg
0        1         82   82
1        0          3    0
2        1         85   85
3        1         18   18
4        1          1    1
5        1         13   13
6        1          1    1
7        1          6    6
8        1          3    3
9        1          1    1
10       0          1    0
11       1         97   97
12       1          6    6
13       0          5    0
14       1         85   85
15       1         46   46
16       0         24    0
17       1          1    1
18       1         39   39
19       1         74   74
20       1         92   92
21       1         39   39
22       1          1    1
23       1          3    3
24       0          4    0
25       0          2    0
26       0         20    0
27       1          1    1
28       1         21   21
29       0         45    0
...    ...        ...  ...
2200     1         81   81
2201     1         44   44
2202     1          1    1
2203     0          5    0
2204     1          1    1
2205     0          2    0
2206     0          1    0
2207     1         14   14
2208     0          1    0
2209     1          1    1
2210     1          8    8
2211     1         34   34
2212     1         86   86
2213     1         29   29
2214     1          2    2
2215     0         16    0
2216     0         10    0
2217     1          6    6
2218     0          2    0
2219     1        111  111
2220     1        121  121
2221     0          1    0
2222     0         14    0
2223     1          5    5
2224     1        120  120
2225     0          1    0
2226     1         32   32
2227     1        109  109
2228     1          1    1
2229     1          2    2

[2230 rows x 8 columns]

# Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [196]:
rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

In [197]:
rock['release_year'].apply(pd.to_numeric)
rock.dtypes

song_clean       object
artist_clean     object
release_year    float64
combined         object
first             int64
year              int64
playcount         int64
fg                int64
dtype: object

# Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [191]:
rock.min()

song_clean                     #9 Dream
artist_clean                .38 Special
release_year                          0
combined        #9 Dream by John Lennon
first                                 1
year                                  0
playcount                             0
fg                                    0
dtype: object

In [192]:
rock.max()

song_clean                     Ziggy Stardust
artist_clean                             a-ha
release_year                             2014
combined        Ziggy Stardust by David Bowie
first                                       1
year                                        1
playcount                                 142
fg                                        142
dtype: object

In [198]:
rock['release_year'].value_counts()

0.0       578
1973.0    104
1975.0     83
1977.0     83
1970.0     81
1971.0     75
1969.0     72
1980.0     70
1978.0     64
1979.0     63
1981.0     61
1967.0     61
1983.0     60
1976.0     56
1982.0     54
1984.0     51
1972.0     50
1974.0     48
1968.0     46
1985.0     39
1987.0     39
1986.0     37
1991.0     34
1989.0     32
1966.0     30
1988.0     29
1965.0     28
1994.0     25
1990.0     22
1993.0     19
1992.0     14
1964.0     14
1999.0     13
1995.0     10
1997.0      9
1963.0      9
1996.0      9
1998.0      6
2002.0      6
2005.0      5
2012.0      5
2004.0      5
2001.0      4
1962.0      3
2000.0      3
2007.0      3
2003.0      3
2011.0      3
2008.0      3
2013.0      2
2014.0      2
1961.0      1
2006.0      1
1958.0      1
1955.0      1
1071.0      1
Name: release_year, dtype: int64

# Write Some Functions

## Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [216]:
def track_detail(row):
    print('Song: ',row['song_clean'])
    print('Artist: ',row['artist_clean'])
    print('released before 1970: ',row['release_year'] < 1970)

In [214]:
rock.iloc[0]

song_clean                     Caught Up in You
artist_clean                        .38 Special
release_year                               1982
combined        Caught Up in You by .38 Special
first                                         1
year                                          1
playcount                                    82
fg                                           82
Name: 0, dtype: object

In [215]:
track_detail(rock.iloc[0])

('Song: ', 'Caught Up in You')
('Artist: ', '.38 Special')
('released before 1970: ', False)

## Write a function that converts cells in a DataFrame to float and otherwise replaces them with np.nan

In [217]:
def convert_to_float(column):
    column = pd.to_numeric(column, errors='coerce')
    return column

## Apply these functions to your dataset

In [219]:
rock.apply(convert_to_float)

,song_clean,artist_clean,release_year,combined,first,year,playcount,fg
0,NaN,NaN,1982.0,NaN,1,1,82,82
1,NaN,NaN,0.0,NaN,1,0,3,0
2,NaN,NaN,1981.0,NaN,1,1,85,85
3,NaN,NaN,1980.0,NaN,1,1,18,18
4,NaN,NaN,1975.0,NaN,1,1,1,1
5,NaN,NaN,2000.0,NaN,1,1,13,13
6,NaN,NaN,2000.0,NaN,1,1,1,1
7,NaN,NaN,2002.0,NaN,1,1,6,6
8,NaN,NaN,1992.0,NaN,1,1,3,3
9,NaN,NaN,1985.0,NaN,1,1,1,1
10,NaN,NaN,0.0,NaN,1,0,1,0
11,NaN,NaN,1980.0,NaN,1,1,97,97
12,NaN,NaN,1993.0,NaN,1,1,6,6
13,NaN,NaN,0.0,NaN,1,0,5,0
14,NaN,NaN,1976.0,NaN,1,1,85,85
15,NaN,NaN,1981.0,NaN,1,1,46,46
16,NaN,NaN,0.0,NaN,1,0,24,0
17,NaN,NaN,1995.0,NaN,1,1,1,1
18,NaN,NaN,1980.0,NaN,1,1,39,39
19,NaN,NaN,1980.0,NaN,1,1,74,74
20,NaN,NaN,1979.0,NaN,1,1,92,92
21,NaN,NaN,1975.0,NaN,1,1,39,39
22,NaN,NaN,1984.0,NaN,1,1,1,1
23,NaN,NaN,1977.0,NaN,1,1,3,3
24,NaN,NaN,0.0,NaN,1,0,4,0
25,NaN,NaN,0.0,NaN,1,0,2,0
26,NaN,NaN,0.0,NaN,1,0,20,0
27,NaN,NaN,1979.0,NaN,1,1,1,1
28,NaN,NaN,1980.0,NaN,1,1,21,21
29,NaN,NaN,0.0,NaN,1,0,45,0
...,...,...,...,...,...,...,...,...
2200,NaN,NaN,1983.0,NaN,1,1,81,81
2201,NaN,NaN,1971.0,NaN,1,1,44,44
2202,NaN,NaN,1971.0,NaN,1,1,1,1
2203,NaN,NaN,0.0,NaN,1,0,5,0
2204,NaN,NaN,1971.0,NaN,1,1,1,1
2205,NaN,NaN,0.0,NaN,1,0,2,0
2206,NaN,NaN,0.0,NaN,1,0,1,0
2207,NaN,NaN,1968.0,NaN,1,1,14,14
2208,NaN,NaN,0.0,NaN,1,0,1,0
2209,NaN,NaN,1976.0,NaN,1,1,1,1
2210,NaN,NaN,1973.0,NaN,1,1,8,8
2211,NaN,NaN,1980.0,NaN,1,1,34,34
2212,NaN,NaN,1983.0,NaN,1,1,86,86
2213,NaN,NaN,1983.0,NaN,1,1,29,29
2214,NaN,NaN,1975.0,NaN,1,1,2,2
2215,NaN,NaN,0.0,NaN,1,0,16,0
2216,NaN,NaN,0.0,NaN,1,0,10,0
2217,NaN,NaN,1973.0,NaN,1,1,6,6
2218,NaN,NaN,0.0,NaN,1,0,2,0
2219,NaN,NaN,1973.0,NaN,1,1,111,111
2220,NaN,NaN,1983.0,NaN,1,1,121,121
2221,NaN,NaN,0.0,NaN,1,0,1,0
2222,NaN,NaN,0.0,NaN,1,0,14,0
2223,NaN,NaN,1981.0,NaN,1,1,5,5
2224,NaN,NaN,1983.0,NaN,1,1,120,120
2225,NaN,NaN,0.0,NaN,1,0,1,0
2226,NaN,NaN,1981.0,NaN,1,1,32,32
2227,NaN,NaN,1975.0,NaN,1,1,109,109
2228,NaN,NaN,1983.0,NaN,1,1,1,1
2229,NaN,NaN,1973.0,NaN,1,1,2,2

## Describe the new float-only DataFrame.

In [ ]:
rock.describe()



> 
>
>

>

>

>



---



---



> > > > > > > > > © 2019 Institute of Data


---



---