In [ ]:

 1) Import data of your domain into jupyter notebook
 2) get data summary
 3) find average or min of one of the numeric columns
 4) write a function to print the shape
5) write a function to calculate average of numeric field
6) Push to Github

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [63]:
df=pd.read_csv(r'C:\Users\Travel Your Style\Documents\IOD Course 22 June 20\DATA\housing-data.csv')

In [64]:
df.describe(include="all")

              sqft      bdrms        age          price
count    47.000000  47.000000  47.000000      47.000000
mean   2000.680851   3.170213  42.744681  340412.659574
std     794.702354   0.760982  22.873440  125039.899586
min     852.000000   1.000000   5.000000  169900.000000
25%    1432.000000   3.000000  24.500000  249900.000000
50%    1888.000000   3.000000  44.000000  299900.000000
75%    2269.000000   4.000000  61.500000  384450.000000
max    4478.000000   5.000000  79.000000  699900.000000

In [85]:
df['price'].min()

169900

In [84]:
df['bdrms'].mean()

3.1702127659574466

In [39]:
print(df.shape)

(47, 4)