In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
passengers = pd.read_csv("AirPassengers.csv")

In [8]:
passengers.head()

  TravelDate  Passengers
0   1/1/1949         112
1   2/1/1949         118
2   3/1/1949         132
3   4/1/1949         129
4   5/1/1949         121

In [12]:
passengers.describe()

       Passengers
count  144.000000
mean   280.298611
std    119.966317
min    104.000000
25%    180.000000
50%    265.500000
75%    360.500000
max    622.000000

In [16]:
passengers.describe

<bound method DataFrame.describe of     TravelDate  Passengers
0     1/1/1949         112
1     2/1/1949         118
2     3/1/1949         132
3     4/1/1949         129
4     5/1/1949         121
5     6/1/1949         135
6     7/1/1949         148
7     8/1/1949         148
8     9/1/1949         136
9    10/1/1949         119
10   11/1/1949         104
11   12/1/1949         118
12    1/1/1950         115
13    2/1/1950         126
14    3/1/1950         141
15    4/1/1950         135
16    5/1/1950         125
17    6/1/1950         149
18    7/1/1950         170
19    8/1/1950         170
20    9/1/1950         158
21   10/1/1950         133
22   11/1/1950         114
23   12/1/1950         140
24    1/1/1951         145
25    2/1/1951         150
26    3/1/1951         178
27    4/1/1951         163
28    5/1/1951         172
29    6/1/1951         178
..         ...         ...
114   7/1/1958         491
115   8/1/1958         505
116   9/1/1958         404
117  10/1/1958         359
118  11/1/1958         310
119  12/1/1958         337
120   1/1/1959         360
121   2/1/1959         342
122   3/1/1959         406
123   4/1/1959         396
124   5/1/1959         420
125   6/1/1959         472
126   7/1/1959         548
127   8/1/1959         559
128   9/1/1959         463
129  10/1/1959         407
130  11/1/1959         362
131  12/1/1959         405
132   1/1/1960         417
133   2/1/1960         391
134   3/1/1960         419
135   4/1/1960         461
136   5/1/1960         472
137   6/1/1960         535
138   7/1/1960         622
139   8/1/1960         606
140   9/1/1960         508
141  10/1/1960         461
142  11/1/1960         390
143  12/1/1960         432

[144 rows x 2 columns]>

In [14]:
passengers.mean()

Passengers    280.298611
dtype: float64

In [15]:
passengers.shape()

TypeError: 'tuple' object is not callable

In [ ]:
def average(passengers)